input[type="range"] {
	width: 75%;
	float: left;
}
input[type="range"] + input[type="text"] {
	float: right;
	width: 22%;
	color: #333;
}
.cmb-repeatable-grouping {
	background: #fff;
}
.btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ebor-framework-updates-dismiss {
	padding: 20px;
}
.ebor-framework-updates-dismiss img {
	float: left;
	margin: 15px 0 0 10px;
}
.ebor-framework-updates-dismiss .content {
	overflow: hidden;
	margin-left: 120px;
}
.ebor-framework-updates-dismiss p.lead {
	font-size: 16px;
}
.ebor-framework-updates-dismiss h3 small {
	font-style: italic;
	font-size: 11px;
}
.mce-notification-error {
    display: none !important;
}