input[type="range"] {
	width: 75%;
	float: left;
}
input[type="range"] + input[type="text"] {
	float: right;
	width: 22%;
	color: #333;
}
.cmb-repeatable-grouping {
	background: #fff;
}
.btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}